@font-face {
    font-family: 'Overpass';
    src: url(overpass/op_reg.ttf);
}
@font-face {
    font-family: 'OverpassExtraLight';
    src: url(overpass/op_extra_light.ttf);
}
@font-face {
    font-family: 'OverpassExtraLightItalic';
    src: url(overpass/op_extra_light_italic.ttf);
}
@font-face {
    font-family: 'OverpassItalic';
    src: url(overpass/op_italic.ttf);
}
@font-face {
    font-family: 'OverpassLight';
    src: url(overpass/op_light.ttf);
}
@font-face {
    font-family: 'OverpassLightItalic';
    src: url(overpass/op_light_italic.ttf);
}
@font-face {
    font-family: 'OverpassBold';
    src: url(overpass/op_bold.ttf);
}

  body{
    font-family: 'OverpassLight';
    font-size: 16px;
    line-height: 28px;
  }

@media only screen and (max-width: 1024px) {
  .dots {
    text-align: center !important;
  }
  .work-arrows {
    text-align: center;
  }
  .work-right {
    float: none;
    width: 100%
  }
  .work-left {
    float: none;
    width: 100%
  }
  .work-center>i {
    padding-top: 25px !important;
    margin-left: 0px !important;
  }
  a.work-center {
    margin-left: 0px !important;
  }
  .elleshwer {
    font-size: 30px !important;
  }
}

/*work*/
.jumbotron {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
}
.jumbotron>h1 {
  font-family: Overpass;
  text-align: center;
  padding-top: 4%;
  padding-bottom: 5%;
  color: #FFFFFF;
}
.head {
  padding-top: 2%;
}
.elleshwer {
  font-family: OverpassExtraLight;
  padding: 2%;
  padding-top: 7%;
  text-align: left;
  font-size: 300%;
  color: #e95a71;
}
.elleshwer:hover, .elleshwer:focus {
  font-family: OverpassExtraLight;
  text-align: left;
  font-size: 300%;
  color: #4ea1d3;
  text-decoration: none;
}
.work-content {
    padding: 10%;
    padding-top: 5%;
    padding-bottom:5%;
    background-color: #d8e9ef;
}
.work-heading {
    color: #454552;
    font-family: OverpassBold;
}
.work-image {
  width: 90%;
  padding-bottom: 10px;
}
.work-image-area {
  padding-left: 0px;
}
.work-arrows {
  padding-bottom: 1%;
}
.work-right {
  float: right;
}
.work-left {
  float: left;
}
.work-center>i {
  padding-top: 3px;
  font-size: 24px;
}
.work-center {
  margin-left: 48%;
}
.about-to-work {
  margin-left: 48%;
}
.a-work {
    font-family: OverpassLightItalic;
    color: #000000;
    font-size: 24px;
}
.a-work:hover, .a-work:focus {
    color: #e85a71;
    text-decoration: none;
}
.fa {
    padding-top: 5%;
    color:#e85a71;
}
.fa:hover {
  color: #4ea1d3;
}
.fa-arrow-left:hover, .fa-arrow-right:hover {
  color: #e85a71;
}
.dots {
    text-align: right;
}
.work-footer {
    background-color: #454552;
    color: #FFFFFF;
    text-align: center;
    width: 100vw;
    padding-bottom: 40px;
}
/*umich*/
.umich-jumbotron {
  background-image: url("work-jumbotrons/umich-dark.jpg");
  background-size:cover;
}
/*desai*/
.desai-jumbotron {
  background-image: url("work-jumbotrons/desai-dark.jpg");
  background-size:cover;
}
.desai-image {
  width: 90%;
  padding-bottom: 10px;
}
.col-sm-4 {
  padding: 0px;
}
/*wcbn*/
.wcbn-jumbotron {
  background-image: url("work-jumbotrons/wcbn-dark.jpg");
  background-size:cover;
}
.wcbn-image {
  width: 100%;
}
.col-sm-6 {
  padding: 0px;
}
/*travelle*/
.travelle-jumbotron {
  background-image: url("work-jumbotrons/travelle-desk-dark.jpg");
  background-size:cover;
}
/*freelance*/
.freelance-jumbotron {
  background-image: url("work-jumbotrons/elle-desk-dark.jpg");
  background-size:cover;
}
/*about*/
.about-jumbotron {
  background-image: url("work-jumbotrons/contact.png");
  background-size:cover;
}
/*contact*/
.contact-jumbotron {
  background-image: url("work-jumbotrons/contact.png");
  background-size:cover;
}
.contact-me {
  text-align: center;
}