@font-face {
    font-family: 'Overpass';
    src: url(overpass/op_reg.ttf);
}
@font-face {
    font-family: 'OverpassExtraLight';
    src: url(overpass/op_extra_light.ttf);
}
@font-face {
    font-family: 'OverpassExtraLightItalic';
    src: url(overpass/op_extra_light_italic.ttf);
}
@font-face {
    font-family: 'OverpassItalic';
    src: url(overpass/op_italic.ttf);
}
@font-face {
    font-family: 'OverpassLight';
    src: url(overpass/op_light.ttf);
}
@font-face {
    font-family: 'OverpassLightItalic';
    src: url(overpass/op_light_italic.ttf);
}
@font-face {
    font-family: 'OverpassBold';
    src: url(overpass/op_bold.ttf);
}

  body{
    font-family: 'OverpassLight';
    font-size: 16px;
  }

@media only screen and (max-width: 1024px) {
  .dots {
    text-align: center !important;
  }
  .work-arrows {
    text-align: center;
  }
}

/*work*/
.jumbotron {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
}
.jumbotron>h1 {
  font-family: Overpass;
  text-align: center;
  padding-top: 8%;
  padding-bottom: 10%;
  color: #FFFFFF;
}
div.head{
  font-family: OverpassLight;
  padding: 2%;
  text-align: left;
  font-size: 300%;
  color: #e95a71;
}
.work-content {
    padding: 10%;
    padding-top: 5%;
    padding-bottom:0px;
    background-color: #d8e9ef;
}
.work-heading {
    color: #454552;
    font-family: OverpassBold;
}
.work-image {
  width: 100%;
}
.work-arrows {
    padding-top: 5%;
    vertical-align: center;
}
.a-work {
    font-family: OverpassLightItalic;
    color: #000000;
    /*font-size: 150%;*/
}
.a-work:hover {
    color: #e85a71;
    text-decoration: none;
}
.fa {
    padding-top: 5%;
    color:#e85a71;
}
.dots {
    text-align: right;
}
.work-footer {
    background-color: #d8e9ef;
    text-align: center;
}
/*umich*/
.umich-jumbotron {
  background-image: url("work-jumbotrons/umich-dark.jpg");
  background-size:cover;
}
/*desai*/
.desai-jumbotron {
  background-image: url("work-jumbotrons/desai-dark.jpg");
  background-size:cover;
}
.desai-image {
  width: 100%;
}
.col-sm-4 {
  padding: 0px;
}
/*wcbn*/
.wcbn-jumbotron {
  background-image: url("work-jumbotrons/wcbn-dark.jpg");
  background-size:cover;
}
.wcbn-image {
  width: 100%;
}
.col-sm-6 {
  padding: 0px;
}
/*travelle*/
.travelle-jumbotron {
  background-image: url("work-jumbotrons/travelle-desk-dark.jpg");
  background-size:cover;
}
/*freelance*/
.freelance-jumbotron {
  background-image: url("work-jumbotrons/elle-desk-dark.jpg");
  background-size:cover;
}