body{
	margin: 0;
	background-color: #ffffff;
  text-decoration: none;
}
.jumbo{
	min-height: 100vh;
	background-image: url('elle-flag-dark.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 20%;
}

.jumbo-header{
	color: #ffffff;
	text-align: center;
	font-family: 'OverpassExtraLight';
	font-size: 60px;
}

.menu-dropdown{
/*	position: relative;*/
	cursor: pointer;
	z-index: 101 !important;
	color: #e85a71;
/*	float: right;*/
	right: 5%;
	margin-top: -24%;
	position: fixed;
	font-size: 34px !important;
	-webkit-transition: margin-top 500ms ease-out;
    -moz-transition: margin-top 500ms ease-out;
    -o-transition: margin-top 500ms ease-out;
    transition: margin-top 500ms ease-out;
}

.menu-dropdown-non-home{
	cursor: pointer;
	z-index: 101 !important;
	color: #e85a71;
	right: 5%;
	margin-top: -4%;
	position: fixed;
	font-size: 34px !important;
	-webkit-transition: margin-top 500ms ease-out;
    -moz-transition: margin-top 500ms ease-out;
    -o-transition: margin-top 500ms ease-out;
    transition: margin-top 500ms ease-out;
}


.navbar{
	position: fixed;
	z-index: 60;
	margin-top: -20%;
	float: right;
	color: #ffffff;
	width: 100%;
	background-color: #454552;
	padding-top: .5%;
	padding-bottom: .5%;
	-webkit-transition: margin-top 500ms ease-out;
    -moz-transition: margin-top 500ms ease-out;
    -o-transition: margin-top 500ms ease-out;
    transition: margin-top 500ms ease-out;
    font-family: 'OverpassExtraLight';
}

.navbar ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 10%;
}

.navbar li {
	display: inline;
	margin-left: 5%;
	margin-top: .5%;
	font-size: 20px;
	float: right;
	color: #ffffff;
}

.navbar-non-home{
	position: fixed;
	z-index: 60;
	margin-top: 0%;
	float: right;
	color: #ffffff;
	width: 100%;
	background-color: #454552;
	padding-top: .5%;
	padding-bottom: .5%;
	-webkit-transition: margin-top 500ms ease-out;
    -moz-transition: margin-top 500ms ease-out;
    -o-transition: margin-top 500ms ease-out;
    transition: margin-top 500ms ease-out;
    font-family: 'OverpassExtraLight';
}

.navbar-non-home ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 10%;
}

.navbar-non-home li {
	display: inline;
	margin-left: 5%;
	margin-top: .5%;
	font-size: 20px;
	float: right;
	color: #ffffff;
}

.nav-hidden{
	z-index: 60;
	margin-top: -50% !important;
	-webkit-transition: margin-top 500ms ease-out;
    -moz-transition: margin-top 500ms ease-out;
    -o-transition: margin-top 500ms ease-out;
    transition: margin-top 500ms ease-out;
}

.nav-expanded{
	z-index: 60;
	margin-top: -20% !important;
	-webkit-transition: margin-top 500ms ease-out;
    -moz-transition: margin-top 500ms ease-out;
    -o-transition: margin-top 500ms ease-out;
    transition: margin-top 500ms ease-out;
}

.nav-expanded-non-home{
	z-index: 60;
/*	margin-top: 2% !important;*/
	-webkit-transition: margin-top 500ms ease-out;
    -moz-transition: margin-top 500ms ease-out;
    -o-transition: margin-top 500ms ease-out;
    transition: margin-top 500ms ease-out;
}


body {
  background: black;
}

.arrow {
  position: relative;
  top: 120px;
  margin-left:48%;
}

.bounce {
	-webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	-o-animation-name: bounce;
	animation-name: bounce;
}
.animated{
	-webkit-animation-fill-mode:both;
	-moz-animation-fill-mode:both;
	-ms-animation-fill-mode:both;
	-o-animation-fill-mode:both;
	animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-fill-mode:both;
	-webkit-animation-duration:2s;
	-moz-animation-duration:2s;
	-ms-animation-duration:2s;
	-o-animation-duration:2s;
	animation-duration:2s;
}


@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}



.tile{
	height: 300px;
	background-color: #ffffff;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	color: #ffffff;
	padding: 0;
	-webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
}

.tile-overlay{
	background-color: rgba(69,69,82,.6);
	width: 100%;
	height: 100%;
	padding:5%;
}

.tile-overlay:hover{
	background-color: rgba(69,69,82,.9);
}

.keywords{
	height: 200px;
	background-color: #454552;
}

.hidden{
	display: none;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.keywords{
	text-align: center;
	padding-top: 5%;
}
.keywords span{
	color: #ffffff;
	font-size: 40px;
}


.overlay{
	z-index:59;
/*	margin-top: -300px;*/
	height: 300px;
	box-sizing: border-box;
	padding:5%;
	border: 1px solid #000000;
	background-color: rgba(216, 233, 239, .85);
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: #454552;
}

.tiles a
  {text-decoration: none; }

.border{
	border: 5px solid #454552;
	height: 100%;
	padding: 3%;
}
.main-footer {
    background-color: #454552;
    color: #FFFFFF;
    text-align: center;
    width: 100vw;
    padding-top: 40%;
}

.main-footer .fa{
	padding-top: 2% !important;
	padding-bottom: 2% !important;
}

@media only screen and (max-device-width: 480px) {
	.main-footer {
    	padding-top: 1%;
    	padding-bottom: 2%;
	}
}
