@font-face {
    font-family: 'Overpass';
    src: url(overpass/op_reg.ttf);
}
@font-face {
    font-family: 'OverpassExtraLight';
    src: url(overpass/op_extra_light.ttf);
}
@font-face {
    font-family: 'OverpassExtraLightItalic';
    src: url(overpass/op_extra_light_italic.ttf);
}
@font-face {
    font-family: 'OverpassItalic';
    src: url(overpass/op_italic.ttf);
}
@font-face {
    font-family: 'OverpassLight';
    src: url(overpass/op_light.ttf);
}
@font-face {
    font-family: 'OverpassLightItalic';
    src: url(overpass/op_light_italic.ttf);
}
@font-face {
    font-family: 'OverpassBold';
    src: url(overpass/op_bold.ttf);
}

body{
    font-family: 'OverpassLight';
    font-size: 16px;
    line-height: 28px;
    background-color: #FFFFFF;
    margin: 10%;
  }

@media only screen and (max-width: 1024px) {
  .dots {
    text-align: center !important;
  }
  .work-arrows {
    text-align: center;
  }
  .work-right {
    float: none;
    width: 100%
  }
  .work-left {
    float: none;
    width: 100%
  }
  .work-center>i {
    padding-top: 25px !important;
    margin-left: 0px !important;
  }
  a.work-center {
    margin-left: 0px !important;
  }
  .head {
    font-size: 30px !important;
  }
  .social {
    text-align: center;
  }
}

/*work*/
.jumbotron {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  background-color: inherit;
}
.jumbotron>h1 {
  font-family: Overpass;
  text-align: center;
  padding-top: 4%;
  padding-bottom: 5%;
  color: #FFFFFF;
}
.head {
  padding-top: 2%;
  color: #454552;
  text-align: left;
  font-family: 'Overpass';
  font-size: 48px;
}

.work-content {
    padding-right: 10%;
}

.work-head-image {
  width: 80%;
  margin-top: 20px;
}
.work-title {
    color: #454552;
    font-family: OverpassBold;
}
.work-heading {
    color: #454552;
    font-family: OverpassBold;
}
.work-image {
  width: 90%;
  padding-bottom: 10px;
}
.work-image-freelance {
  width: 90%;
  padding-bottom: 10px;
}
.work-image-area {
  padding-left: 0px;
  width: 100%;
}

.a-work {
    font-family: OverpassLightItalic;
    color: #000000;
    font-size: 24px;
}
.a-work:hover, .a-work:focus {
    color: #e85a71;
    text-decoration: none;
}
.fa {
    padding-top: 5%;
    color:#e85a71;
}
.fa:hover {
  color: #4ea1d3;
}

.social {
    width: 80%;
    text-align: left;
}

/*explore*/
.explore p {
  margin-top: 75px;
  margin-bottom: 75px;
}
.explore-image {
  width: 80%;
  /*height: 150px;*/
  padding-left: 5%;
  margin-top: 5%;
}

.container {
  width: 100%;
}

/*desai*/
.desai-image {
  width: 100%;
  padding-bottom: 10px;
}
.col-sm-4 {
  padding: 0px;
}

/*wcbn*/
.wcbn-image {
  width: 100%;
}
.col-sm-6 {
  padding: 0px;
}
/*travelle*/

/*freelance*/
.work-image-freelance {
    width: 90%;
    padding-bottom: 10px;
}
/*about*/

/*contact*/


